<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Igor Rain <igor.rain@icloud.com>
 * See LICENCE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="IgorRain_CodeGenerator" setup_version="0.0.1"/>
</config>
